header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 60px;
  height: 50px;
}

nav {
  background: #594848;
  width: 100%;
  overflow: auto;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav a {
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  background: #594848;
  font-size: 17px;
  color: white;
  padding: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
  background: skyblue;
  color: black;
}

body {
  box-sizing: border-box;
}

.dio {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 20px;
}

.container {
  width: 95%;
  margin: auto;
}

footer {
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  background: #594848;
  color: white;
  font-family: Arial;
  letter-spacing: 1px;
}
